.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
www/assets/images/ss_sand.mov
www/assets/images/ss_sand.mov
www/assets/images/*.mov
www/assets/images/*.mov

# ignore large videos
www/assets/images/*.mov

# ignore large videos
*.mov
www/assets/images/*.mov
